.form {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
h1{text-align: center;}

.Message{
  text-align: center;
  text-size-adjust: 50pt;
}

.typage {
  background-color: pink;
margin:30%}

.boxes{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divflex {
  height: 100px;
  width: 100px;
}

.red {
  background-color: rgb(243, 19, 19);
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
img{
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;}
